.content {
    margin-top: 10%;
    max-width: 600px;
}

.content h1 {
    font-size: 70px;
    color: #222;
}

.content p {
    margin: 10px 0 30px;
    color: #333;
    animation-delay: 0.5s;
    font-size: 20px;
}

.content .btn {
    padding: 15px 80px;
    font-size: 22px;
    animation-delay: 1s;
}

.btn:hover {
    border-top-right-radius: 30px;
}