@import url('./hero.css');
@import url('./nav.css');
@import url('./content.css');
@import url('./feature.css');
@import url('./informe.css');
@import url('./inicio.css');
@import url('./footer.css');

*{
    margin: 0;
    padding: 0;
    background-origin: padding-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

div {
    padding: 0 10%;
}


a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    cursor: pointer;
}

p{
    color: #333;
}